<html>
    <body>
        <form action="/add" method="post">
        <input type="text" name="title">
    <input type="text" name="date">
    <button type="submit">전송</button>
</form>
    </body>
</html>